.layout .input-register input {
    padding: 0 1rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.layout.light-theme .input-register input {
    border: 1px solid var(--text);
    background: var(--background);
    color: var(--text);
}

.layout.dark-theme .input-register input {
    border: 1px solid var(--text-dark);
    background: var(--background-dark);
    color: var(--text-dark);
}

.layout .input-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.layout .btn-action, .layout .btn-home {
    min-width: 200px;
    max-height: 50px;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 1rem auto 0;
    display: flex;
    justify-content: center;
}

.layout.light-theme .btn-action {
    background: var(--atomic-tangerine);
    color: var(--text-dark);
}

.layout.light-theme .btn-home {
    background: var(--background);
    color: var(--text);
    border: 1px solid var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.layout.light-theme input.disabled, .layout.dark-theme input.disabled {
    background: var(--text-light-dark);
}

.layout.dark-theme .btn-action {
    background: var(--atomic-tangerine-dark);
    color: var(--text-dark);
}