.header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--text);
}

.header button {
    background: transparent;
    color: var(--text);
    font-size: 28px;
}

.footer {
    background: var(--background);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer h5 {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light);
}
